.ko {
  font-family: 'Noto Sans KR', sans-serif;
}

.aboutUs-page {
  background-color: #f5f2e1;
  width: 100%;
  color: #333;
}

.aboutUs-page H1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.aboutUs-page H2 {
  font-size: 26px;
  margin-bottom: 50px;
}

.aboutUs-page P {
  font-size: 16px;
}

.aboutUs-img {
  width: 100%;
  background-image: url(../img/aboutUs_img.jpg);
  padding-bottom: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.aboutUs-subNav {
  width: 100%;
  padding: 25px 0;
  box-sizing: border-box;
  background-color: #cbc6ad;
}

.aboutUs-subNav>ul {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.aboutUs-subNav>ul>li {
  font-size: 18px;
}

.seoultakju-logo img {
  position: absolute;
  top: 45%;
  left: 25%;
}

.aboutUs-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 200px 0;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(194, 191, 175, 0.7);
}

.aboutUs-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutUs-intro>div {
  width: calc(50% - 30px);
}

.aboutUs-intro__txt p {
  margin-bottom: 25px;
}

.factory-map__img {
  text-align: center;
  opacity: 0.4;
}

.factory-map {
  position: relative;
}

.subu {
  position: absolute;
  top: 180px;
  left: 390px;
}

.subu::after {
  content: '●';
  font-size: 20px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  color: #333;
}

.dobong {
  position: absolute;
  top: 30px;
  right: 410px;
}

.dobong::after {
  content: '●';
  font-size: 20px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  color: #333;
}

.taereung {
  position: absolute;
  top: 200px;
  right: 290px;
}

.taereung::after {
  content: '●';
  font-size: 20px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  color: #333;
}

.guro {
  position: absolute;
  bottom: 210px;
  left: 240px;
}

.guro::after {
  content: '●';
  font-size: 20px;
  position: absolute;
  top: -30px;
  left: 50%;
  color: #333;
}

.seongdong {
  position: absolute;
  bottom: 310px;
  right: 380px;
}

.seongdong::after {
  content: '●';
  font-size: 20px;
  position: absolute;
  top: -30px;
  left: 50%;
  color: #333;
}

.gangdong {
  position: absolute;
  bottom: 272px;
  right: 140px;
}

.gangdong::after {
  content: '●';
  font-size: 20px;
  position: absolute;
  top: -30px;
  left: 50%;
  color: #333;
}

strong {
  font-weight: 500;

}

.foctory-title {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #333;
  font-weight: bold;
  z-index: 1;
}

.factory-adress {
  display: inline-block;
  background-color: #CBC6AD;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
  display: none;
}

/* .factory-adress p {
  font-size: 16px;
} */

.subu-adress {
  position: absolute;
  top: 40px;
  left: 355px;
}

.dobong-adress {
  position: absolute;
  top: -110px;
  right: 380px;

}

.taereung-adress {
  position: absolute;
  top: 60px;
  right: 250px;
}

.guro-adress {
  position: absolute;
  bottom: 65px;
  left: 190px;
}

.seongdong-adress {
  position: absolute;
  bottom: 165px;
  right: 340px;
}

.gangdong-adress {
  position: absolute;
  right: 100px;
  bottom: 125px;
}

.takju-youtube h1 {
  text-align: center;
}

.youtube-thumbnail {
  width: 100%;
}

.yuja-thumbnail {
  width: 100%;
  padding: 200px 0;
  box-sizing: border-box;
  background-image: url(../img/video-img2.jpg);
  background-position: center center;
  border-radius: 7px;
  margin-bottom: 20px;
}

.youtube-thumbnail__list {
  display: flex;
  justify-content: space-between;

}

.youtube-thumbnail__list>div {
  width: calc(33% - 10px);
  height: 215px;
  background-color: aliceblue;
  border-radius: 7px;
}

.takju-location h1 {
  text-align: center;
}