footer {
  width: 100%;
  height: auto;
  padding: 100px 0;
  box-sizing: border-box;
  background-color: #625b3a;
}

.footer__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 45px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.w1280wrap {
  width: 100%;
  display: flex;
}
/* 로고 */
.footer__logo {
  width: 160px;
  height: 43px;
  background-image: url(../img/footer_logo.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* footer 가운데 컨텐츠 */
.footer__text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__text > ul > .en {
  margin-bottom: 15px;
}

/* footer SNS 박스들 */

.footer__joinMore {
  display: flex;
  width: 500px;
}
.facebook {
  margin-bottom: 5px;
  width: 100%;
}
.insta {
  width: 100%;
  margin-top: 5px;
}
/* SNS 박스 */
.footer__SNS {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer__SNS > div {
  display: flex;
  padding: 13px 0;
  box-sizing: border-box;
  background-color: #cbc6ad;
  border-radius: 10px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.footer__SNS > div > p {
  display: block;
  margin-left: 10px;
}
/* 페이스북 */
.facebook__img {
  background-image: url(../img/ft_facebook.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 24px;
  height: 24px;
}
.facebook {
  width: 100%;
}
.insta {
  width: 100%;
}

.insta > i {
  font-size: 27px;
}

/* qr코드 */
.QR {
  width: 100%;
  margin-left: 16px;
  display: flex;
  align-items: center;
  padding: 16px 26px;
  box-sizing: border-box;
  background-color: #cbc6ad;
  border-radius: 10px;
  justify-content: center;
}
.QR_img {
  background-image: url(../img/qrcode.png);
  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.QR > p {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
fp-enabled{
  overflow: hidden;
}

@media(max-width:1345px){
  .footer__wrap {
    flex-direction: column;
  }
  .footer__wrap {
    align-items: start;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__joinMore {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 1080px) {


}

@media (max-width: 768px) {
  .QR {
    padding: 16px 10px;
    box-sizing: border-box;
  }
  .QR > p {
    font-size: 12px;
  }
  .footer__SNS > div {
    font-size: 12px;
  }
  .facebook__img {
    background-image: url(../img/ft_facebook.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 24px;
    height: 24px;
  }
  .QR_img {
    background-image: url(../img/qrcode.png);
    width: 50px;
    height: 50px;
  }
  .footer__text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
}
