/* header */
@import url(header.css);

/* container */
@import url(section1.css);
@import url(section2.css);
@import url(section3.css);
@import url(section4.css);
@import url(section5.css);
@import url(section6.css);

/* footer */
@import url(footer.css);
.en {
  font-family: 'Roboto', sans-serif;
}

.ko {
  font-family: 'Noto Sans KR', sans-serif;
}

.section {
  background-color: #f5f2e1;
}

.w1640 {
  width: 1640px;
  margin: 0 auto;
}

.block {
  display: block;
}

.none {
  display: none;
}

@media (max-width: 1200px) {
  .w1640 {
    width: 100%;
  }
}
