.section5 {
  position: relative;
}

.section5 .area {
  padding: 100px 0 0px;
}

.section5 article {
  width: 100%;
  z-index: 1;
}

.section5 .side-bg {
  position: absolute;
  left: 0;
  top: 100px;
}

.section5 .side-bg img {
  width: 40%;
}

.section5 .road {
  position: absolute;
  right: -240px;
  bottom: -20px;
}

.section5 .road img {
  width: 80%;
}

.section5 .bottles {
  position: absolute;
  right: -250px;
  top: 20px;
}

.section5 .bottles img {
  width: 80%;
}

.section5 h2 {
  font-size: 26px;
  color: #333333;
  line-height: 1.3;
}

.section5 h1 {
  font-size: 50px;
  font-weight: bold;
  padding: 50px 0 50px;
  color: #333333;
  line-height: 1.3;
}

.section5 p {
  margin-top: 50px;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  font-weight: bold;
}

.section5 .font-box {
  margin-top: 0;
  padding-left: 0;
  position: relative;
}

.section5 .font-box p {
  margin-top: 0px;
  height: 31px;
  color: #858484;
}

.section5 .font-box p::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #f5f2e1;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 8%;
  transform: translateY(0%);
  border: 4px solid #333;
  box-sizing: border-box;
  transition: all 0.3s;
  /* transform: translateY(0%); */
  opacity: 0;
  z-index: 1;
}
.section5 .swiper-slide.swiper-slide-active::after {
  transform: translateY(-5%);
  opacity: 1;
}

.section5 .swiper-slide.swiper-slide-active {
  color: #333333;
  transition: all 0.3s;
  font-weight: bold;
}

.road-wrap {
  padding-top: 50px;
}

.road-wrap__list {
  padding-left: 30px;
  width: 10%;
}

.road-container {
  width: 50%;
  height: 600px;
  margin: 0 auto;
}

.section5 .swiper-wrapper {
  flex-direction: column;
}

.section5 .swiper {
  margin: 20px 0;
  width: 100%;
}

.section5 .swiper::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 91%;
  background-color: #333;
  left: 6px;
  top: 47%;
  z-index: -1;
  transform: translateY(-50%);
}

.swiper-slide {
  font-size: 14px;
}

@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1200px) {
  .section5 h2 {
    font-size: 20px;
  }

  .section5 h1 {
    font-size: 45px;
    padding: 100px 0 30px;
  }

  .section5 p {
    margin-top: 30px;
    font-size: 14px;
  }

  .section5 .road {
    right: -490px;
    bottom: -10px;
  }

  .section5 .road img {
    width: 60%;
  }

  .section5 .bottles {
    top: 300px;
    right: -490px;
  }

  .section5 .bottles img {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .section5 .area {
    padding: 0;
  }
  .section5 h2 {
    font-size: 20px;
  }

  .section5 h1 {
    font-size: 30px;
    padding: 60px 0 30px;
  }

  .section5 p {
    margin-top: 30px;
    font-size: 13px;
  }

  .section5 .side-bg {
    position: absolute;
    left: 0;
    top: -20px;
  }

  .section5 .bottles {
    display: none;
  }

  .section5 .contents-box {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .section5 .road {
    display: none;
  }

  .section5 p {
    font-size: 12px;
  }

  .swiper-slide.swiper-slide-duplicate-pre {
    height: 28px;
  }
}
