/*pagenation*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #625b3a;
}

.fp-viewing-1 #fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

.fp-viewing-1>#h_wrap {
  border-bottom: none;
}

/*헤더*/
#h_wrap {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
  height: 100px;
  box-sizing: border-box;
  z-index: 9999;
  transition: 0.3s;
  border-bottom: 1px solid #cbc6ad;
  background-color: #fff;
}

/*로고*/
.logoIMG {
  padding: 20px 0;
}

.logoIMG a {
  display: block;
  box-sizing: border-box;
  width: 120px;
  height: 60px;
  background-image: url(../img/logo_blue.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*네비게이션 바*/
#gnb {
  z-index: 9999;
}

#gnb>ul {
  width: 800px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  z-index: 9999;
}

#gnb>ul>li>a {
  font-weight: 600;
  font-size: 18px;
  color: #333;
}

/* .fp-viewing-1 > #h_wrap > #gnb ul li a {
  color: #fff;
}
.fp-viewing-2 > #h_wrap:hover {
  background-color: #f3edcc;
}
.fp-viewing-3 > #h_wrap:hover {
  background-color: #f3edcc;
}
.fp-viewing-4 > #h_wrap:hover {
  background-color: #f3edcc;
}
.fp-viewing-5 > #h_wrap:hover {
  background-color: #f3edcc;
}
.fp-viewing-6 > #h_wrap:hover {
  background-color: #f3edcc;
}
.fp-viewing-7 > #h_wrap:hover {
  background-color: #f3edcc;
} */

#drop>li {
  width: 100%;
  height: 100%;
  padding: 35px 0;
  box-sizing: border-box;
}

/* 드롭다운 */
.cont {
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 800px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 8000;
}

.cont>li {
  width: auto;
  height: auto;
  transition: all 0.3s;
}

.cont>li>a {
  display: block;
  width: 100%;
  height: auto;
  /* padding: 5px 10px; */
  box-sizing: border-box;
  transition: all 0.3s;
  color: #000;
  font-weight: 500;
}

.cont.active {
  visibility: visible;
  opacity: 1;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.3s;
}

#employment {
  width: 400px;
}

/*오른쪽 메뉴*/
.h_right {
  /* width: 312px; */
  padding: 35px 0;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  align-items: center;
}

.h_right>ul {
  display: flex;
  align-items: center;
}

.h_right ul li {
  margin-left: 22px;
  height: 100%;
  line-height: 30px;
  padding-top: 1px;
  box-sizing: border-box;
}

.h_right>ul>li>a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
}

.fp-viewing-1>#h_wrap>.h_right ul li a {
  color: #fff;
}

/* 드롭다운 */
.dropbtn {
  height: 100%;
  margin-left: 20px;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  transition: all 0.3s;
  text-align: center;
  align-items: center;
  padding: 0;
}

.fp-viewing-1>#h_wrap>.h_right>.dropdown>.dropbtn {
  color: #fff;
}

.dropbtn>p {
  font-weight: 600;
  z-index: -1;
}

.dropbtn>a {
  font-weight: 600;
  z-index: -1;
}

.dropbtn>i {
  margin-left: 10px;
  z-index: -1;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: transparent;
  transition: all 0.3s;
}

#myDropdown>show {
  transition: all 0.3s;
}

.dropdown {
  position: relative;
  display: block;
  /* display: flex; */
  /* align-items: center; */
  transition: all 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  right: 5px;
  background-color: #f1f1f1;
  min-width: 70px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
  transition: all 0.3s;
}

.show {
  display: block;
}

/* hambuger */
.h_right_menu {
  display: none;
}

.nav-icon-5 {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-icon-5 span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 2px;
}

.nav-icon-5 span:nth-child(1) {
  top: 3px;
  left: 0px;
}

.nav-icon-5 span:nth-child(2) {
  top: 14px;
  left: 0px;
  opacity: 1;
}

.nav-icon-5 span:nth-child(3) {
  bottom: 2px;
  left: 0px;
}

.nav-icon-5.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon-5.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

/* hambuger */

#mySidenav.SlideNav {
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 100px;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #333;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


@media (max-width: 1200px) {
  #gnb {
    display: none;
  }

  #h_wrap {
    height: 60px;
    padding: 0 20px;
  }

  .logoIMG {
    padding: 5px 0;
  }

  .logoIMG a {
    width: 100px;
    height: 50px;
  }

  .h_right {
    padding: 15px 0;
    height: 60px;
  }

  .h_right_menu {
    display: block;
  }

  .sidenav {
    margin-top: 60px;
  }

  .hamberger {
    background-color: #fff;
  }

  .fp-viewing-1>#h_wrap.hamberger>.h_right ul li a {
    color: #333;
  }

  .hamberger>.h_right>.h_right_menu>.nav-icon-5 span {
    background-color: #333;
  }

  .fp-viewing-1>#h_wrap.hamberger>.h_right>.dropdown>.dropbtn {
    color: #333;
  }
}

/* @media (max-width: 1000px) {
  .h_right > ul > li > a {
    font-size: 14px;
  }
} */

@media (max-width: 768px) {
  #h_wrap {
    background-color: #fff;
  }

  .fp-viewing-1>#h_wrap>.h_right ul li a {
    color: #000;
  }

  .dropbtn {
    color: #000;
  }

  .fp-viewing-1>#h_wrap>.h_right>.dropdown>.dropbtn {
    color: #000;
  }

  .nav-icon-5 span {
    background-color: #333;
  }
}