.notice-page__wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.notice-page__wrap h2 {
  font-weight: bold;

}

.notice-page__title {
  text-align: center;
}

.notice-list {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.notice-list>div {
  width: calc(33% - 10px);
  background-color: #cbc6ad;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.notice-list li {
  box-sizing: border-box;
  position: relative;
  height: 280px;
  transition: all 0.3s;

}

.notice-writer {
  position: absolute;
  top: 0;
}

.notice-list li h2 {
  /* max-width: 300px; */
  box-sizing: border-box;
  position: absolute;
  top: 25px;
}

.notice-date {
  position: absolute;
  bottom: 0px;
}

.navigation {
  text-align: center;
  margin: 10px 0;
}

.writeBtn {
  float: right;
  width: 80px;
  height: 30px;
  font-size: 12px;
  border: 2px solid #cbc6ad;
  background-color: transparent;
  margin-top: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -40px !important;
}



:root {
  --swiper-theme-color: #333 !important;
}

.notice_bori__left {
  position: absolute;
  opacity: 0.3;
  left: 150px;
  top: 250px;
  width: 15%;
}

.notice_bori__right {
  position: absolute;
  opacity: 0.3;
  right: 100px;
  bottom: -200px;
  width: 15%;
  transform: rotate(30deg);
}

@media (max-width: 1600px) {
  .notice_bori__left {
    left: 100px;
  }

  .notice_bori__right {
    right: 100px;
  }

}

@media (max-width: 1400px) {
  .notice_bori__left {
    left: 50px;
  }

  .notice_bori__right {
    right: 50px;
  }

}



@media (max-width: 1200px) {
  .notice-page__wrap {
    padding: 0 30px;
    box-sizing: border-box;
  }

  .notice-main {
    padding: 200px 40px;
    box-sizing: border-box;
  }

  .notice-list {
    flex-wrap: wrap;
  }

  .notice-list>div {
    width: calc(50% - 10px);
  }



  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -440px;
  }

  .notice_bori__left {
    left: 50px;
    top: 150px;
  }

  .notice_bori__right {
    display: none;
  }

}

@media (max-width: 768px) {
  .notice-page__wrap {
    padding: 0 30px;
    box-sizing: border-box;
  }

  .notice-page__wrap h2 {
    font-size: 20px;

  }

  .notice-list li {
    height: 240px;
  }

}

@media (max-width: 500px) {
  .notice-list li {
    height: 150px;
  }

  .notice-page__wrap h2 {
    font-size: 16px;

  }


}