.notice-page {
  padding-bottom: 300px;
  box-sizing: border-box;
}

.notice-page__contents {
  margin-top: 70px;
}

.notice_writer {
  color: rgba(51, 51, 51, 0.5);
  margin-right: 10px;
}

.notice_writeDate {
  color: rgba(51, 51, 51, 0.5);
}

.notice-contents__txtWrap {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #cbc6ad;
  border-bottom: 1px solid #cbc6ad;
}

.notice-contents__text {
  padding: 30px 0;
  box-sizing: border-box;
  margin-bottom: 210px;
}

/* .next-notice__title p {
  font-weight: 500;
} */

.content-listLine:hover {
  background-color: rgba(203, 198, 173, 0.3);
  cursor: pointer;
}

.content-listLine {
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
}

.list_arrow {
  display: block;
  background-image: url(../../img/notice_arrow.png);
  width: 17px;
  height: 17px;
  background-size: cover;
  background-position: center center;
  margin-top: 5px;
  margin-right: 20px;

}

.notice-buttons {
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.notice__deleteBtn {
  float: right;
  width: 66px;
  height: 30px;
  border: 1px solid #cbc6ad;
  background-color: transparent;
}

.notice__editBtn {
  float: right;
  width: 66px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid #cbc6ad;
  background-color: transparent;
}

.notice__listBtn {
  width: 66px;
  height: 30px;
  background-color: #cbc6ad;
  border: none;
}

@media (max-width: 1400px) {
  .notice-page {
    padding: 200px 40px 300px;
  }

}


@media (max-width: 768px) {
  .notice-contents__Title span {
    font-size: 14px;
  }

}