<main class="ko notice-page">
  <section class="notice-page__wrap">
    <div class="notice-page__title">
      <h1>공지사항</h1>
      <p>서울탁주의 <span>최신소식</span>을 알려드립니다.</p>
    </div>
    <div class="notice-page__contents">
      <div class="notice-contents__Title">
        <h2>서울 탁주제조협회 60년</h2>
        <span class="notice_writer">서울탁주</span>
        <span class="notice_writeDate">2022-04-27</span>
      </div>
      <div class="notice-contents__txtWrap">
        <div class="notice-contents__text">
          <p>
            서울탁주제조협회는 구한말 이전부터 운영하던 서울의 양조장들이 뭉쳐 지난 1962년 출범한 서울주조협회를 근간으로 탁주제조장 12개소와 약주제조장 5개소를 운영해왔다. <br />
            <br />이후 1980년에 서울탁주제조협회로 명칭을 변경하고 2009년 산하법인으로 서울장수주식회사를 설립했다. 60년 노하우를 통해 만들어진 대표 제품 ‘장수 생막걸리’는 하루 평균 약 50만병, 1초에 6.3병 이상 꼴로 팔리며 ‘대한민국1등 막걸리’라는
            타이틀을 얻었다.
          </p>
        </div>
        <div class="content-listLine">
          <span class="list_arrow"></span>
          <ul class="next-notice__title">
            <li>
              <p>서울 탁주제조협회 60년 우리 막걸리 알릴 것</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="notice-buttons">
        <input class="notice__listBtn" type="button" value="목록" />
        <div>
          <input class="notice__editBtn" type="submit" value="수정" />
          <input class="notice__deleteBtn" type="button" value="삭제" />
        </div>
      </div>
    </div>
  </section>

  <div class="notice-backgroungImg">
    <img class="notice_bori__left" src="img/move-bori.gif" alt="" />
    <img class="notice_bori__right" src="img/move-bori_5.gif" alt="" />
  </div>
</main>
