<main class="news_page ko">
  <h1 style="padding-bottom: 10px">보도자료</h1>

  <section class="news-wrap">
    <% rows.forEach((row,index) => { %>
    <div class="news-content">
      <div class="news-img">
        <img src="<%= row.img %>" />
      </div>
      <div class="news-text">
        <h1 class="news-title"><%= row.title %></h1>
        <span class="news-writer">서울탁주</span>
        <span class="news-date"><%= row.create_time %></span>
      </div>
    </div>
    <% }) %>

    <button class="writeBtn" type="button"><a onclick="location.href='/newsWrite'">글쓰기</a></button>


  </section>
</main>