<main id="welcome">
  <section>
    <div class="welcome__title">
      <h1>νμ›κ°€μ…</h1>
    </div>
    <i class="fa-regular fa-circle-check fa-2x"></i>
    <div class="sign__done">
      <h1>νμ›κ°€μ…μ΄ μ™„λ£λμ—μµλ‹λ‹¤</h1>
    </div>
    <div class="sign__done--text">
      <p>
        μ¶•ν•ν•©λ‹λ‹¤ ! π‰β¨π‰π‰π‰π<br />
        νμ›λ‹μ΄ κ°€μ…ν•μ‹  μ •λ³΄λ” λ‹¤μκ³Ό κ°™μµλ‹λ‹¤.
      </p>
      <p class="id">μ•„μ΄λ”” :<%= id %></p>
      <p>λΉ„λ°€λ²νΈ : ********</p>
    </div>
    <div class="controlBtn">
      <article>
        <p><a href="/">λ©”μΈνμ΄μ§€</a></p>
      </article>
      <article>
        <p><a href="">λ΅κ·ΈμΈ</a></p>
      </article>
    </div>
  </section>
</main>
