<main id="welcome">
  <section>
    <div class="welcome__title">
      <h1>회원가입</h1>
    </div>
    <i class="fa-regular fa-circle-check fa-2x"></i>
    <div class="sign__done">
      <h1>회원가입이 완료되었습니다</h1>
    </div>
    <div class="sign__done--text">
      <p>
        축하합니다.<br />
        회원님이 가입하신 정보는 다음과 같습니다.
      </p>
      <p class="id">아이디 :<%= id %></p>
      <p>비밀번호 : ********</p>
    </div>
    <div class="controlBtn">
      <article>
        <p><a href="/">메인페이지</a></p>
      </article>
      <article>
        <p><a href="">로그인</a></p>
      </article>
    </div>
  </section>
</main>
