.notice-page__wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}





.notice-page__title {
    text-align: center;
}

.notice-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.notice-list li {
    width: 313px;
    height: 313px;
    background-color: #CBC6AD;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 30px;
    position: relative;
}

.notice-date {
    position: absolute;
    bottom: 20px;
}

.navigation {
    text-align: center;
    margin: 10px 0;
}

.writeBtn {
    float: right;
    width: 80px;
    height: 30px;
    font-size: 12px;
    border: 2px solid #CBC6AD;
    background-color: transparent;
    margin-top: 15px;
}