@import url(sub_header.css);
@import url(footer.css);

.en {
  font-family: 'Roboto', sans-serif;
}

.ko {
  font-family: 'Noto Sans KR', sans-serif;
}
p {
  font-size: 16px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 26px;
}

@media (max-width: 1200px) {
  .w1640 {
    width: 100%;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }
}

main {
  background-color: #f5f2e1;
}
#product_detail section {
  overflow: hidden;
}

/* 공통 */

/* 섹션 묶기 */
.detail-section__wrap {
  padding: 254px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(193, 190, 174, 0.8);
}
.detail-section__wrap > * {
  z-index: 5000;
}


@media (max-width: 1200px) {
  .detail-section__wrap {
    width: 100%;
    flex-direction: column;
    padding: 50px 0;
  }
}

/* 텍스트 굵기 */
.detail-section__wrap > article > h1 {
  font-weight: bold;
  color: #333;
}

.detail-section__wrap > article > h2 {
  font-weight: bold;
  color: #333;
  margin: 54px 0;
}

.detail-section__wrap > article > p {
  font-weight: 500;
  color: #333;
}

@media (max-width: 1200px) {
  .detail-section__wrap > article {
    text-align: center;
  }

  .detail-section__wrap > article > h2 {
    margin: 30px 0;
  }
}

/* 사진 */
.detail-section__img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
}

@media (max-width: 1200px) {
  .detail-section__img {
    margin-top: 50px;
    width: 400px;
    height: 400px;
  }
}

/* 여기서부터 */

/* 섹션1 */
.w1920 > .detail__section1-bg {
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 583px;
  background-image: url(../img/detail_main-img.JPG);
}

/* 섹션2 */
.detail-section2__img {
  background-image: url(../img/jangsu.jpg);
  position: relative;
}

.detail-section__wrap > .detail-section2__img > p {
  position: absolute;
  right: 107px;
  top: 137px;
  color: #fff;
}
@media (max-width: 1200px) {
  .detail-section__wrap > .detail-section2__img > p {
    right: 68px;
    top: 92px;
    font-size: 12px;
    font-weight: 300;
  }
}

/* 섹션3 */
.detail-section3__img {
  background-image: url(../img/historyboxbg.jpg);
}

.detail-section__wrap.section3 {
  flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .detail-section__wrap.section3 {
    flex-direction: column;
  }
}

/* 섹션4 */
.detail-section4__img {
  background-image: url(../img/1.jpg);
}

/* 섹션5 */
.detail-section5__img {
  background-image: url(../img/historyboxbg.jpg);
  /* 사진 없음 */
}

.detail-section__wrap.section5 {
  flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .detail-section__wrap.section5 {
    flex-direction: column;
  }
}

/* 섹션6 */
.detail-section6__img {
  background-image: url(../img/302923_203210_231.jpg);
}

/* 섹션7 */
.detail-section7__img {
  background-image: url(../img/mosayKaBsR.jpg);
}

.detail-section__wrap.section7 {
  flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .detail-section__wrap.section7 {
    flex-direction: column;
  }
}

/* 섹션8 */
.w1920 > .detail__section8-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 569px;
  background-image: url(../img/last.jpg);
}

/* 보리 */
.bori {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 300px;
  height: 300px;
  transition: all 0.3s;
}
.bori > img {
  display: block;
  height: auto;
  width: 100%;
  opacity: 50%;
  height: 100%;
  transition: all 0.3s;
}
.first-bori {
  position: absolute;
  z-index: 1;
  left: -35px;
  top: 700px;
  transition: all 0.3s;
}

.second-bori {
  position: absolute;
  right: 0;
  top: 1500px;
  display: block;
  z-index: 1;
}

.third-bori {
  position: absolute;
  z-index: 1;
  left: -20px;
  top: 2900px;
  transition: all 0.3s;
}
.third-bori > img {
  transform: rotate(90deg);
  transform: scaleX(-1);
  filter: FlipH;
}
.fourth-bori {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 5000px;
  transition: all 0.3s;
}
.fivth-bori {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 7000px;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  .bori {
    max-width: 200px;
    height: 200px;
    transition: all 0.3s;
  }
  .first-bori {
    left: -20px;
    top: 700px;
  }
  .w1920 > .detail__section1-bg {
    margin-top: 60px;
  }
  .third-bori {
    top: 2400px;
  }
  .fourth-bori {
    top: 4000px;
  }
  .fivth-bori {
    top: 4800px;
  }
  .detail__section8-bg {
    display: none;
  }
}

@media (max-width: 768px) {
  .bori {
    max-width: 150px;
    height: 150px;
  }
  .first-bori {
    top: 700px;
  }
}
