/* sign area */
@import url(../sub_header.css);
@import url(login.css);
@import url(join.css);
@import url(../footer.css);

main {
  /* margin-top: 200px; */
  color: #333333;
  background-color: #F5F2E1;
  padding: 200px 0;
}

.en {
  font-family: 'Roboto', sans-serif;
}

.ko {
  font-family: 'Noto Sans KR', sans-serif;
}