.red_txt {
  color: #ee7272;
}

.joinPage__wrap {
  max-width: 628px;
  margin: 0 auto;
  position: relative;
}

.joinPage__container {
  width: 100%;
}

.sub_tit_txt {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}

.p200 {
  padding: 200px 0 200px;
  box-sizing: border-box;
}

.con_term .term_txt {
  border: 1px solid #ececec;
  padding: 30px;
  height: 210px;
  overflow-y: auto;
  margin: 0 0 15px;
}

.con_term .term_txt ul li,
.con_term .term_txt p,
.con_term .term_txt div {
  font-size: 12px;
  line-height: 17px;
  margin: 0 0 15px;
}

.left_margin {
  margin: 0 0 0 20px;
}

.con_term .term_txt div.txt_bold {
  font-weight: bold;
  margin: 0 0 25px;
}

.joinComfirm_Btn {
  background-color: #cbc6ad;
  border: none;
  padding: 10px;
  height: 60px;
  line-height: 45px;
  width: 300px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.btn_wrap a.wide {
  width: 587px;
  margin: 0 0 0 20px;
}

.find_txt ul li {
  color: #9a9a9a;
  font-size: 13px;
  text-align: center;
  line-height: 17px;
  margin: 0 0 20px;
}

.form_txtInput .checkbox_wrap {
  position: relative;
  padding: 5px;
  text-align: right;
}

.form_txtInput .checkbox_wrap input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form_txtInput .checkbox_wrap input[type='checkbox'] + label {
  display: inline-block;
  line-height: 14px;
  position: relative;
  padding-left: 20px;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.form_txtInput .checkbox_wrap input[type='checkbox'] + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  background: #fff;
  border: 1px solid #c2c2c2;
}

.form_txtInput .checkbox_wrap input[type='checkbox'] + label:active:before,
.checkbox_wrap input[type='checkbox']:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.form_txtInput .checkbox_wrap input[type='checkbox']:checked + label:before {
  background: #fff;
  border-color: #ddd;
}

.form_txtInput .checkbox_wrap input[type='checkbox']:checked + label:after {
  content: '✓';
  color: rgba(51, 51, 51, 0.8);
  position: absolute;
  top: 0px;
  left: 2px;
  width: 7px;
  height: 7px;
  font-size: 13px;
  font-weight: bold;
}

.star {
  display: block;
  margin: 0 0 45px 20px;
  color: rgba(51, 51, 51, 0.8);
}

.star span {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 0;
  text-indent: 10px;
}

.star span:after {
  content: '*';
  font-size: 16px;
  color: #625b3a;
  position: absolute;
  top: 0;
  left: -10px;
}

.join_form {
  width: 100%;
}

.join_form table {
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.join_form table input {
  border: 1px solid rgba(51, 51, 51, 0.2);
  font-size: 14px;
  color: #4c4c4c;
  height: 55px;
  width: 100%;
  padding: 10px;
  float: left;
  background-color: transparent;
  box-sizing: border-box;
}

.join_form table input.my_number {
  width: 60%;
  display: inline-block;
}

.join_form table input.my_number2 {
  margin-left: 5px;
  width: 80px;
}

.join_form table input.my_number3 {
  margin-left: 5px;
  width: 80px;
}

.join_form table input.my_adress {
  width: 150px;
}

.join_form table input.my_adress2 {
  width: 130px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.join_form table input.my_detailAdress {
  margin-bottom: 5px;
}

.join_form table input.email {
  display: inline-block;
}

.join_form table input.email2 {
  margin-left: 5px;
  width: 150px;
}

.join_form.idpwFind table input {
  width: 519px;
}

.join_form.idpwFind table input.email {
  width: 223px;
}

.join_form.idpwFind table input.email2 {
  width: 263px;
}

.join_form.idpwFind table input.phone {
  width: 182px;
  margin: 0 12px 0 11px;
}

.join_form.idpwFind table input.phone2 {
  width: 182px;
}

.join_form table input.send_number {
  width: 30%;
}

.join_form table th span {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 0;
}

.join_form table th span:after {
  content: '*';
  font-size: 13px;
  color: #625b3a;
  position: absolute;
  top: 0;
  right: 0px;
}

.join_form table th,
td,
tr {
  vertical-align: top;
}

.join_form table th {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  padding-top: 10px;
  box-sizing: border-box;
}

.join_form table td {
  padding: 6px 0;

  position: relative;
}

.join_form.idpwFind table th span:after {
  content: none;
}

.join_form table td a.btn_confirm {
  display: inline-block;
  width: 130px;
  height: 55px;
  box-sizing: border-box;
  background: rgba(203, 198, 173, 0.3);
  margin-left: 10px;
  text-align: center;
  vertical-align: top;
  line-height: 56px;
  font-size: 13px;
}

.join_form table td input.btn_findPost {
  display: inline-block;
  width: 130px;
  height: 55px;
  box-sizing: border-box;
  background: rgba(203, 198, 173, 0.3);
  border: none;
  margin-left: 10px;
  text-align: center;
  vertical-align: top;
  font-size: 13px;
  color: #333;
}

.join_form table td a.btn_confirm.send {
  background: transparent;
  border: 1px solid rgba(203, 198, 173, 0.3);
  background-color: rgba(203, 198, 173, 0.3);
}

.join_form.idpwFind table td select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://secsales.interparkb2b.co.kr/data/G94/main/sele_arr.gif) no-repeat 95% 50%;
  text-indent: 20px;
  width: 124px;
  height: 50px;
  border: 1px solid #ececec;
  font-size: 14px;
  color: #ccc;
  float: left;
}

.join_form.idpwFind table td select::-ms-expand {
  display: none;
}

.join_form.idpwFind table td tr.phone td select {
  text-align: center;
  text-indent: 10px;
}

.join_form.idpwFind table tr.email input:after,
.mar10:after,
.join_form.idpwFind table td select:after,
.join_form table td a.btn_confirm:after {
  content: '';
  display: block;
  clear: both;
}

.agree_wrap {
  margin: 50px 0 50px;
  box-sizing: border-box;
}

.agree_wrap .checkbox_wrap {
  text-align: left;
}

::placeholder {
  color: rgba(51, 51, 51, 0.4);
}

:-ms-input-placeholder {
  color: #c4c4c4 !important;
}

::-ms-input-placeholder {
  color: #c4c4c4 !important;
}

.mar10 {
  margin: 14px 5px 0 10px;
  display: inline-block;
  padding: 0;
  float: left;
}

.explan_txt {
  margin: 3px 0 0 22px;
}

.explan_txt li {
  color: rgba(51, 51, 51, 0.3);
  font-size: 13px;
  line-height: 17px;
}

.popWrap {
  border: 1px solid #ececec;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  margin: 30px auto 0;
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 5;
}

.popWrap.is-open {
  display: block;
}

.popWrap .pop_txt_con .pop_exTxt {
  font-size: 14px;
  color: #9a9a9a;
  line-height: 20px;
}

.popWrap .pop_txt_con .pop_exTxt span {
  color: #254ee9;
}

.popWrap .pop_btnWrap {
  margin: 30px 0 0;
}

.popWrap .pop_btnWrap a {
  color: #fff;
  background-color: #4380ce;
  font-weight: bold;
  padding: 10px;
  height: 22px;
  line-height: 22px;
  width: 103px;
  display: block;
  text-align: center;
}

.join_form table input.send_number::placeholder {
  text-align: right;
}

.join_form table input.send_number:-ms-input-placeholder {
  text-align: right;
}

.join_form table input.send_number::-ms-input-placeholder {
  text-align: right;
}

.overlayer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlayer.is-open {
  display: block;
}

.background__bori img {
  width: 15%;
  opacity: 0.3;
  position: absolute;
  display: block;
  right: 200px;
  bottom: -550px;
}

/* 수정영역 */
th {
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

td {
  width: 70%;
}

@media (max-width: 768px) {
  .form_txtInput {
    padding: 0 30px;
    box-sizing: border-box;
  }

  .join_form table input {
    font-size: 13px;
    color: #4c4c4c;
    height: 35px;
    width: 100%;
    padding: 10px;
    float: left;
    background-color: transparent;
    box-sizing: border-box;
  }

  .mar10 {
    margin: 14px 5px 0 10px;
    display: inline-block;
    padding: 0;
    float: left;
  }

  .join_form table td a.btn_confirm.send {
    height: 35px;
    width: 30%;
    line-height: 35px;
    background: transparent;

    border: 1px solid rgba(203, 198, 173, 0.3);
  }

  .join_form table td a.btn_confirm {
    display: inline-block;
    width: 130px;
    height: 35px;
    box-sizing: border-box;
    background: rgba(203, 198, 173, 0.3);
    margin-left: 10px;
    text-align: center;
    vertical-align: top;
    line-height: 35px;
    font-size: 13px;
  }

  .join_form table td input.btn_findPost {
    display: inline-block;
    width: 130px;
    height: 35px;
    box-sizing: border-box;
    background: rgba(203, 198, 173, 0.3);
    border: none;
    margin-left: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 13px;
    color: #333;
  }

  .background__bori img {
    right: 50px;
    bottom: -350px;
  }
}

/* 수정영역 */
